[Desktop Entry]
Version=1.0
Type=Application
Name=RunAsGPU
Comment=An utility to easily run apps under a specific GPU
Description=An utility to easily run apps under a specific GPU
Icon=/usr/share/icons/hicolor/1024x1024/apps/RunAsGPU.png
Exec=RunAsGPU
Terminal=false
Categories=Utility;
